$themes: (
   /* WILD CARIBBEAN */      GREEN-theme: (
       color: #1dd1a1
       ),
    /*NASUPURPLE */           blue-theme: (
        color: #5f27cd
        ),
                          BLUEBELL-theme: (
        color: #341f97
        ),
    /*PASTEL*/                 RED-theme: (
        color: #ff6b6b
        ),
    /*LIÁN HÓNG LOTUSPINK*/    Pink-theme: (
        color: #f368e0
        )
);

@each $theme, $map in $themes {
    .#{$theme} {
        // .classname {
        //     color: map-get($map, color );
        // }
        .page .page-head .page-title {
            color: map-get($map, color );
        }
    }
}