
.header {
	background-color: #FFF;
	padding: 20px;
	// .toggle-notifications*/ 
	.header-icon {
		background-color: #f9f9f9;
		padding: 20px;
		border-radius: 50%;
		color: #555;
		cursor: pointer;
		margin-left: 10px;
	}
    .toggle-sidebar {
		cursor: pointer;
	}
	.notifications-container {
		display: inline-block;
		margin-left: 20px;

	    .dropdown-menu {
			min-width: 600px;
			padding: 0px;
			left: -25px !important;
		    top: 10px !important;
			border: none;
			&:before {
				content: '';
				position: absolute;
				top: -20px;
                left: 26px;
				border-style: solid;
				border-width: 10px;
				// border-color: #F00 #080 #00F #FF0;
				border-color: transparent transparent #00F transparent; 

			}
			.noti-head {
				background-color: #A8420F;
				padding: 15px;
				color: #fff;
				font-weight: bold;
				span {
					float: right;
				}
			}
			.noti-content {
				padding: 5px;
				ul {
					margin: 0;
					li {
						padding: 0px;
						font-weight: bold;
						color: #777;
					}
					i {
						background-color: #f7f7f7;
						border-radius: 50%;
						width: 30px;
						height: 30px;
						line-height: 28px;
						text-align: center;
						margin-right: 10px;
						position: relative;
						top: -5px;
						font-size: 14px;
						color: #fff;
						&.fa-envelope-o {
							background-color: #4caf50;
						}
						&.fa-money {
							background-color: #2196f3;
						}
						&.fa-thumbs-o-up {
							background-color: #ff9800;
						}
						&.fa-ticket {
							background-color: #E60140;
						}
					}
				}
			}
			.noti-foot {
				a {
					display: block;
					padding: 10px;
					border-top: 1px solid #eee ;
					&:hover {
						text-decoration: none;
					}
				}
			}



		}

		
	}
	.usermenu-container {
		float: right;
		.username {
			cursor: pointer;
			.avatar {
				width: 40px;
				height: 40px;

			}
			.user {
				font-weight: bold;
				color: #777;
				margin-right: 10px;
				margin-left: 10px;
			}
		}
		.dropdown-menu {
			min-width: 600px;
			padding: 20px;
			// left: -25px !important;
		    top: 10px !important;
			border: none;
			border: 1px solid #3234F5;
			&:before {
				content: '';
				position: absolute;
				top: -20px;
                right: 100px;
				border-style: solid;
				border-width: 10px;
				// border-color: #F00 #080 #00F #FF0;
				border-color: transparent transparent #3234F5 transparent; 
			}
			.user-info {
				font-weight: bold;
				color: #3234F5;
			}
			.activities-list {
				color: #0DA31A;
			}
			.mega-links {
				.link-box {
					color: #C1731F;
					padding: 10px;
					border-radius: 6px;
				}

			}
		}
	}
}