.page {
  .sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #bdc3c7;
    color: #FFF;
    padding: 15px;
    transition: 0.3s;
    &.no-sidebar {
      left: -250px;
    }
    .logo-area {
      font-weight: bold;
      font-size: 26px;
      margin-bottom: 30px;
    }
    .links-area {
      // All Links
      li{
        a {
          color: #ccc;
          padding: 10px 20px;
          display: block;
          transition: .3s;
          &:hover {
            text-decoration: none;
            color: #FFF;
         }
       }
     }
    //  Main Links
      > li > a {
         position: relative;
        //  padding-left: 20px !important; 
         color: #FFF;
         &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 40%;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          border: 2px solid #FFF;
          transform: translate(50%);
        }
        &:hover {
          padding-left: 30px;
        }
        &.active {
          color:  #1e7e34;
          &:before {
            border-color: #1e7e34;
          }
        }
        .fa-angle-right {
          float: right;
          position: relative;
          top: 6px;
          transition: .3s;
          &.down {
            transform: rotate(90deg);
          }
        }
      }
      .child-links {
          position: relative;
          display: none;
          &:before {
            content: '';
            position: absolute;
            left: 6px;
            top: 0;
            width: 3px;
            height: 100%;
            background-color: #666;
          }
          a {
            position: relative;
            &:hover:before {
              content: '';
              position: absolute;
              left: 6px;
              top: 0;
              width: 3px;
              height: 100%;
              background-color: #FFF;
              //background-color: #1e7e34;/*default color*/
          }
        }
      }
    }
  }
}