.settings-box.hide-settings
  .toggle-sttings
    i.fa.fa-gear.fa-lg
  .settings-content
    .option-box
      h4 Color Option
    .option-box
      h4 Font Option
    .option-box
      h4 Sidebar Option